name: CI with Cache

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
          key: cache-a620340

      - name: prime-cache-a620340
        run: echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"

      - name: Install dependencies
        run: npm install
